.container {
    background-image: url("../images/wood_texture_208389.jpg");
}
.jumbotron {
    background-image: url("../images/old_paper_background_hd_picture_2_169574.jpg");
    font-family: serif;

}
.card-header {
    border-style: solid; 
    background-color: rgb(104, 58, 5);
    color:black;
    font-family: serif;

}
.card-body {
    background-image: url("../images/old_paper_background_hd_picture_2_169574.jpg");
    font-family: serif;
}
#add {
    justify-content: space-around;
    border-style: solid; 
    border-width: 2px;
    border-color: rgb(104, 58, 5);
    font-family: serif;

}